@model WebShopProjectViewModels.EditUserDetailsViewModel
@{
    ViewBag.Title = "Change Profile";
}


<div class="row">
    <div class="co-sm-12">
        <h1>Change Profile</h1>
        <form novalidate="novalidate" action="/account/changeprofile" method="post" class="needs validation">
            @Html.AntiForgeryToken()
            <div class="form-row">
                <div class="form-group col-sm-12">
                    <label for="txtName">Name</label>
                    <input type="text" class="form-contol" id="txtName" placeholder="Enter name" name="Name" required="required" pattern="^[a-zA-Z]*$" autofocus="autofocus" value="@Model.Name" />
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                    <div class="invalid-feedback">
                        Please enter name [alphabets only].
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-sm-6">
                    <label for="txtName">Email</label>
                    @Html.HiddenFor(temp=>temp.Email)
                    <span>@Model.Email</span>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                    <div class="invalid-feedback">
                        Invalid email.
                    </div>
                    <small class="email-exist text-danger"></small>
                </div>

                <div class="form-group col-sm-6">
                    <label for="txtName">Mobile</label>
                    <input type="text" class="form-contol" id="txtMobile" placeholder="Mobile" name="Mobile" required="required" pattern="^[389]\d{9}$" />
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                    <div class="invalid-feedback">
                        Invalid mobile Number.
                    </div>
                </div>
            </div>
            
            

            <button type="submit" class="btn btn-primary">Update Profile</button>

        </form>
    </div>
</div>

<script>


    $("a[href='/account/changeprofile']").attr("id", "active");

    $(document).on("submit", ".needs-validation", validate);
    $(".needs-validation input").blur(validate);
    function validate(event)
    {
        if ($(".needs-validation")[O].checkValidity() == false)
        {
            event.preventDefault();
        }
        $(".needs-validation")[O].classList.add("was-validated");
    }


</script>