
@{
    ViewBag.Title = "About";
}

<div class="row">
    <div class="col-sm-12">
        <div class="jumbotron">
            <h1>Look, Choose, Buy!</h1>
            <h3>This is the best place to find something that fits you!</h3>
            <p class="lead">Join us, and be in touch with the latest modern trends!!</p>

        </div>
    </div>
    
</div>

<div class="row mb-4">
    <div class="col-sm-6">
        <div class="card-header bg-light">Founded in 2016</div>
        <div class="card-body">
            Founded in 2016. Our store is carring about the customers. And we have the best quality on our products.
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card">
            <div class="card-header bg-light">Our Partners</div>\
            <div class="card-body">
                Our WebShop is trying to stay in touch with the latest trends. To help to the people to have the latest modern trends in their own collections.
            </div>
        </div>
    </div>
</div>


<script>
    $("a[href='/home/about']").attr("id", "active");
</script>

