

@{
    ViewBag.Title = "Contact";
}

<div class="row">
    <div class="col-sm-6">
        <div class="card">
            <div class="card-header bg-dark text-light">Our Store</div>
            <div class="card-body">
                <p>
                    Place where you can find everything you need about your needs!
                </p>
                <a href="#">Learn more</a>
            </div>
        </div>
    </div>


    <div class="col-sm-6">
        <div class="card>
            <div class="card-header bg-dark text-light">Working Methods</div>
            <div class="card-body">
                <p>
                    Our methods of working are simple, only we are trying to sattisfy your needs.
                    <a href="#">Learn more</a>
                </p>
            </div>

        </div>
    </div>
</div>

<script>
    $("a[href='/home/contact']").attr("id", "active");
</script>

